<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <nav>
    <div class="logo">
      <img src="https://static.vecteezy.com/system/resources/previews/029/722/382/large_2x/notes-icon-in-trendy-flat-style-isolated-on-white-background-notes-silhouette-symbol-for-your-website-design-logo-app-ui-illustration-eps10-free-vector.jpg" alt="Notes Logo">
      <h2>Notes Keeper</h2>
    </div>
    <div class="icons">
      <a href="/signup" style="font-weight: 600; font-size: 28px;">Sign Up</a>
      <a href="/signin" style="font-weight: 600; font-size: 28px;">Login</a>
    </div>
  </nav>

  <section class="hero">
    <h1>Welcome to Notes Keeper</h1>
    <p>Organize your thoughts, pin important notes, and keep everything safe in one place.</p>
    <a href="/signup" class="btn">Get Started</a>
  </section>
</body>
</html>
